body {
    font-family: 'Quicksand', sans-serif;
    background-color: #ffdb42;
}

/* Container */
.container {
    width: 100%;
    max-width: 100%;
    padding: 0px; 
}

/* Jumbotron */
#title {
    font-family: 'Pacifico', serif;
    padding-bottom: 5px;
}

.jumbotron {
    padding: 10px 15px;
    width: 100%;
    border-radius: 0px;
    position: relative;
    overflow: hidden;
}

#logo-image {
    position: absolute;
    width: 20%;
    top: 20px;
    right: 20px;
}

/* Form */
form {
    padding: 0 50px;
}

legend {
    font-family: 'Pacifico', serif;
    font-size: 1em;
    border-bottom: 0px;
}

/* Buttons */
#gifButtons-div {
    width: 80%;
    margin: 0 auto;
}

.btn {
    margin: 3px;
    background-color: #eee;
    border-color: #000;
    color: #000;
    font-size: 1.2em;
}

.btn:hover {
    background-color: #eebd0d;
    font-weight: 600px;
    color: #fff;
}

/* GIFs */
.giphy {
    float: left;
    margin: 3px;
}